doctype html
html
  head
    title= title
    link(rel='styelsheet', href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200;1,300&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
